alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.1
Babel==2.6.0
backcall==0.1.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.4.0
coverage==3.7.1
coveralls==0.5
cycler==0.10.0
dash==0.28.2
dash-auth==1.2.0
dash-core-components==0.33.0
dash-html-components==0.13.2
dash-renderer==0.14.3
datascience==0.10.6
decorator==4.3.0
docopt==0.6.2
docutils==0.14
Flask==1.0.2
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
folium==0.2.1
geographiclib==1.49
geopy==1.17.0
gunicorn==19.9.0
idna==2.7
imagesize==1.1.0
ipython==7.0.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==3.0.0
more-itertools==4.3.0
mpu==0.15.0
nbformat==4.4.0
numpy==1.15.2
packaging==18.0
pandas==0.23.4
parso==0.3.1
pickleshare==0.7.5
plotly==3.3.0
pluggy==0.7.1
prompt-toolkit==2.0.6
py==1.7.0
pycodestyle==2.4.0
Pygments==2.2.0
pyparsing==2.2.2
pytest==3.8.2
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
retrying==1.3.3
scikit-learn==0.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
traitlets==4.3.2
ua-parser==0.8.0
urllib3==1.23
virtualenv==16.0.0
wcwidth==0.1.7
Werkzeug==0.14.1
